*.iml
/.gradle
/gradle
/local.properties
.idea/caches/
.idea/codeStyles
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries
.DS_Store
# Build directories
build
# Other
/captures
.externalNativeBuild
ClientLib/libs/Mavlink.jar
testcontroller/src/main/res/drawable/
logs/
models/src/main/assets/sync/assets.lst
models/src/main/assets/sync/cmudict-en-us.dict.md5
models/src/main/assets/sync/digits.gram.md5
models/src/main/assets/sync/en-phone.dmp.md5
models/src/main/assets/sync/en-us-ptm/README.md5
models/src/main/assets/sync/en-us-ptm/feat.params.md5
models/src/main/assets/sync/en-us-ptm/mdef.md5
models/src/main/assets/sync/en-us-ptm/means.md5
models/src/main/assets/sync/en-us-ptm/noisedict.md5
models/src/main/assets/sync/en-us-ptm/sendump.md5
models/src/main/assets/sync/en-us-ptm/transition_matrices.md5
models/src/main/assets/sync/en-us-ptm/variances.md5
models/src/main/assets/sync/menu.gram.md5
models/src/main/assets/sync/weather.dmp.md5
